/* style about Scrollspy & Affix */
body {
  position: relative;
}
.affix {
  top: 0;
  width: 100%;
  z-index: 9999;
}
.navbar {
  margin-bottom: 0px;
}
.affix ~ .container-fluid {
  position: relative;
  top: 50px;
}

/* jumbotron */
.jumbotron-imgs {
  margin: auto;
  background-color: transparent;
  background-image: url("../images/jumbotron_coding.png");
  background-size: cover;
  background-repeat: no-repeat;
}

/* well-text */
.well-text {
  width: 70%;
  text-align: center;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  color: #000000;
  background-color: rgba(255, 255, 255, 0.5);
  border-style: none;
}

/* text-center */
.text-center {
	text-align: center;
}

/* navbar */
.navbar-default {
    background-color: #F28DA5;
    border-color: #F28DA5;
}
/* Title */
.navbar-default .navbar-brand { /* (fixed) */
    color: #FFFFFF;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5E5E5E;
}
/* Link */
.navbar-default .navbar-nav > li > a { /* (fixed) */
    color: #FFFFFF;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #5E5E5E;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #5E5E5E;
    background-color: #E7E7E7;
}
.navbar-default .navbar-nav > .open > a, /* (fixed) */
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #000000;
    background-color: #FFFFFF;
}
/* Caret */
.navbar-default .navbar-nav > .dropdown > a .caret { /* (fixed) */
    border-top-color: #FFFFFF;
    border-bottom-color: #FFFFFF;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* Mobile version */
.navbar-default .navbar-toggle { /* (fixed) */
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { /* (fixed) */
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar { /* (fixed) */
    background-color: #FFFFFF;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a { /* (fixed) */
        color: #FFFFFF;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
          color: #5E5E5E;
    }
}
